{% extends 'partials/base.html' %}

{% block title %} Orders {% endblock %}

{% block content %}
{% include 'partials/topnav.html' %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-12">

            <div class="d-flex justify-content-between align-items-center mb-4">
                <form action="{% url 'dashboard-orders' %}" method="GET" class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="q" value="{{ request.GET.q }}">
                    <div class="input-group-append">
                        <button class="btn btn-dark" type="submit">Search</button>
                    </div>
                </form>
                <a class="btn btn-dark" href="#">Export</a>
            </div>

            <table class="table bg-white">
                <thead class="bg-dark">
                    <tr class="text-white">
                        <th scope="col">Product</th>
                        <th scope="col">Category</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Approved by</th>
                        <th scope="col">Date</th>

                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.product }}</td>
                        <td>{{ order.product.category }}</td>
                        <td>{{ order.order_quantity }}</td>
                        <td>{{ order.staff.username }}</td>
                        <td>{{ order.date }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}