{% extends 'partials/base.html' %}

{% block title %} Products {% endblock %}

{% block content %}
{% include 'partials/topnav.html' %}

<div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            <div class="border bg-white p-3">
                <h4>Add Products</h4>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form }}
                    
                    <div class="mt-4">
                        <input class="btn btn-dark btn-block" type="submit" value="Add Product">
                        <a class="btn btn-dark btn-sm" href="{% url 'scan' %}">Scan</a>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-8">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <form action="{% url 'dashboard-products' %}" method="GET" class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="q" value="{{ request.GET.q }}">
                    <div class="input-group-append">
                        <button class="btn btn-dark" type="submit">Search</button>
                    </div>
                </form>
                <a class="btn btn-dark" href="#">Export</a>
            </div>
            <table class="table bg-white">
                <thead class="bg-dark">
                    <tr class="text-white">
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Activity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.category }}</td>
                        <td>{{ item.unit_price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>
                            <a class="btn btn-dark btn-sm" href="{% url 'dashboard-product-update' item.id %}">Edit</a>
                            <a class="btn btn-danger btn-sm" href="{% url 'dashboard-product-delete' item.id %}">Delete</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">No products found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</div>
{% endblock %}