{% extends 'partials/base.html' %}
{% block title %} Staff Page {% endblock %}

{% block content %}

{% include 'partials/topnav.html' %} 

<div class="container">
    <div class="row my-4">
        <div class="col-md-12">
            <table class="table table-hover border=0 bg-white">
                <thead class="bg-dark text-white">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>E-Mail</th>
                        <th>Phone Number</th>
                        <th>Attendance</th>
                        <th>Joined Date</th>
                        <th>Department</th>
                       
                    </tr>
                </thead>
                <tbody>
                    {% for worker in workers %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ worker.username }}</td>
                        <td>{{ worker.email }}</td>
                        <td>{{ worker.profile.phone }}</td>
                        <td>{{ worker.profile.attendance }}%</td>
                        <td>{{ worker.date_joined|date:'F j, Y' }}</td>
                        <td>{{ worker.profile.department }}</td>
                       
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
